</br>
</br>
</br>

<div class="span10 offset1 smurfy text-center">
	<h1 class='custom-h1'>
	Istanbul is awesome!
	</h1>

	<h2 class='custom-h2'>
	I hate February in Boston!
	</h2>

	<%= link_to 'Check it out', 'http://firehose-app-hbs-fay.herokuapp.com/pics', :class => 'btn btn-info btn-large' %> 

</div>