<% @pics.each do |pic| %>

<div class="span4 smurfy text-center">
	<h1 class="custom-h1">
	<!-- Title: --> 
	<%= pic.title %>
	</h1>
	</br>
	<h2 class="custom-h2">
<!-- 	Subtitle:  -->
	<%= pic.subtitle %>
	</br>
<!-- Message:  -->
	<%= pic.message %>
	</br>
	</h2>
</div>

<% end %>